__pycache__/
*.py[cod]
.ruff_cache/
.venv/

config.json

llama/bin/*
!llama/bin/.gitkeep
llama/dll/*
!llama/dll/.gitkeep
llama/grammars/*
!llama/grammars/.gitkeep

models/*
!models/.gitkeep
presets/*
!presets/.gitkeep

releases/
