{%- macro render_content(content) -%}
    {%- if content is string -%}
        {{- content -}}
    {%- elif content is sequence -%}
        {%- for item in content -%}
            {%- if item['type'] == 'text' -%}
                {{- item['text'] -}}
            {%- elif item['type'] == 'image' -%}
                {{- '<|image|>' -}}
            {%- elif item['type'] == 'audio' -%}
                {{- '<|audio|>' -}}
            {%- elif item['type'] == 'video' -%}
                {{- '<|video|>' -}}
            {%- endif -%}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}
{%- set system_start = '<|turn>system\n' -%}
{%- set system_end = '<turn|>\n' -%}
{%- set user_start = '<|turn>user\n' -%}
{%- set user_end = '<turn|>\n' -%}
{%- set assistant_start = '<|turn>model\n' -%}
{%- set assistant_end = '<turn|>\n' -%}
{%- set assistant_gen = "" -%}
{{- bos_token -}}
{%- for message in messages -%}
    {%- set role = message['role'] -%}
    {%- if role in ['system', 'developer'] -%}
        {{- system_start -}}{{- render_content(message['content']) -}}{{- system_end -}}
    {%- elif role == 'user' -%}
        {{- user_start -}}{{- render_content(message['content']) -}}{{- user_end -}}
    {%- elif role == 'assistant' -%}
        {{- assistant_start -}}{{- render_content(message['content']) -}}{{- assistant_end -}}
    {%- elif role == 'tool' -%}
        {{- render_content(message['content']) -}}
    {%- endif -%}
{%- endfor -%}
{%- if add_generation_prompt -%}
    {{- assistant_gen if assistant_gen else assistant_start -}}
{%- endif -%}
